.idea/
.vscode/
*.iml
*.iws
*.ipr

target/
build/
.m2/
**/.m2/
**/target/
**/build/
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

.env.local
.env.*.local
*.log
